

body {
  background-color: rgb(136, 237, 240);
  margin-left: 15%;
}

.btn {
  
  margin-right: 3%;
  border: 2px solid #1292ab;
  padding: 2px;
  font-weight: bold;
  font-size: 15px;
  color: rgb(246, 30, 109);
  
  width: 25%;
  background-color: rgb(216, 236, 150);  
}